services:
  postgres:
    image: postgres:16.4
    container_name: memento_postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - memento_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memento_migrate
    command: ["go", "run", "migrations/auto.go"]
    env_file:
      - .env
    environment:
      APP_ENV: docker
    depends_on:
      postgres:
        condition: service_healthy

networks:
  default:
    name: memento_network

# Избавляемя от локальных volume
volumes:
  memento_pgdata: