services:
  postgres:
    image: postgres:16.4
    container_name: pbb_postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres-data:/data/postgres
    ports:
      - "5433:5432"