services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pbb_bot
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    volumes:
      - ./logs:/app/logs

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["go", "run", "migrations/auto.go"]
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
