services:
  bot:
    build:
      context: .
      args:
        APP_PATH: ./cmd/main
    container_name: memento_bot
    env_file:
      - .env
    environment:
      DB_HOST: postgres
    restart: unless-stopped
    networks:
      - memento_network

networks:
  memento_network:
    external: true