services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pbb_bot
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - bot-prepare
    volumes:
      - ./logs:/app/logs

  # фиктивный сервис, для docker-compose при первом старте
  bot-prepare:
    image: busybox
    command: /bin/true

networks:
  default:
    name: pbb_network